---
title: Welcome
---

<p>Browse categories below...</p>

{% assign mycats = site.use-case | group_by: 'category' %}
{% for cat in mycats %}
<h3>{{ cat.name | capitalize }}</h3>
    <ul>
      {% assign items = cat.items | sort: 'title' %}
      {% for item in items %}
        <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}

See <a href="biodiversity-specimen-data.github.io/specimen-data-use-case/helpful-links">helpful links</a> and <a href="https://biodiversity-specimen-data.github.io/specimen-data-use-case/other-code-examples">other code examples</a> for more...
