---
title: Welcome
---

<p>Browse use cases sorted by category below. See <a href="{{ '/helpful-links' | relative_url }}">helpful links</a> and <a href="{{ '/other-code-examples' | relative_url }}">other code examples</a> for additional information.</p>

<h3>Drop-in hours</h3>
<p>Check-out our <a href = "https://www.idigbio.org/content/open-office-hours-hosted-api-user-group-r-based">drop-in hours</a>. At the beginning of each session we will host a 5-10 minute demo, followed by an open agenda. If you know you have a question or topic that you'd like to focus on, feel free to <a href = "https://bit.ly/2wypVsY"> sign up ahead of time </a> to ensure that it is addressed in a particular session. Participants are welcome to drop by for only part of the hour. </p>

<h3>Demos</h3>
<p>The following demos provide an overview on how to use APIs and packages mentioned within this repo:</p>
<ol>
  <li><a href="https://vimeo.com/444924504">What is an API?</a>, recorded presentation from the Ecological Society of America Data Help Desk, 2020
  <li>Basic overview of the ridigbio package (<a href="https://biodiversity-specimen-data.github.io/specimen-data-use-case/solution/demo_ridigbio_overview.html">view in browser</a>) (<a href="https://biodiversity-specimen-data.github.io/specimen-data-use-case/solution/demo_ridigbio_overview.Rmd">download for local use</a>)</li>
  <li><a href="{{ '/Download_API_example' | relative_url }}">Overview of iDigBio APIs, with an example of using the download API</a></li>
</ol>

<h3>Sources for specimen data</h3>
<p>Interested in where you can find biodiversity specimen data? We complied a table of <a href="{{ '/AggregatorsTable' | relative_url }}">biodiversity data aggregators here</a>!</p>

<h2>Use cases</h2>
{% assign mycats = site.use-case | group_by: 'category' | sort: 'category' | reverse %}
{% for cat in mycats %}
<h3>{{ cat.name | capitalize }}</h3>
    <ul>
      {% assign items = cat.items %}
      {% for item in items %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}
